<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Uniform color:</strong>
  <%= @team.uniform_color %>
</p>

<p>
  <strong>Captain:</strong>
  <%= @team.captain_id %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
<%= link_to 'Home', root_path %>